.default{
    height: 100%;
    width: 100%;
    padding-top: 6em;
}
.dLogo{
   // margin: 3.125em 0;
   // text-align: center;
}
.asciiCanvas{
    margin: 0 auto 1em;
    width: fit-content;
    
}
.dText{
    margin: auto;
    text-align: center;
}
.dTextWrapper{
    margin: 0 1em;
}
.dRed{
    color: color(d-red);
    text-decoration: none;
}
.dPurple{
    color: color(d-purple);
    text-decoration: none;
}
.dBlue{
    color: color(d-blue);
    text-decoration: none;
}
.dYellow{
    color: color(d-yellow);
    text-decoration: none;
}
.dPink{
    color: color(d-pink);
    text-decoration: none;
}