{
    "root": true,
    "extends": ["plugin:eslint-plugin/recommended"],
    "plugins": ["eslint-plugin"],
    "env": {
       "es6": true,
       "node": true
    },
    "parserOptions": {
      "ecmaVersion": 6,
      "ecmaFeatures": {
        "jsx": true
      },
      "sourceType": "script",
    },
    "rules": {
      "react/jsx-uses-react": "error",
      "react/jsx-uses-vars": "error",
    },
    "overrides": [
      {
        "files": "tests/**",
        "rules": {
          "no-template-curly-in-string": 1,
        },
      },
    ],
}