.app__header {
    display: block;
    //padding-top: 8px;
    margin-bottom: 8px;
    align-items: center;
    color: #f8f8f2;
    background-color: #191A21;
}
.tab {
    width: fit-content;
    padding: 10px 10px;
    background: #44475A70;
    border-top: 1px solid #BD93F9;
    display: flex;
    
    border-right: 1px solid #191A21;
}
.tab.shadow {
    background-color: #21222C;
}
.path {
    padding: 4px 10px 6px;
    color: #6272A4;
    background: #44475A70;
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
    display: flex;
}
.path_text{
    margin-right: 8px;
    &:hover{
        color: #f8f8f2;
        cursor: pointer;
    }
}
.xBttn {
    margin-left: 15px;
    margin-right: 10px;
}
.xBttn.shadow {
    color: transparent;
}
.tabBar{
    display: flex;
}