.wBttns{
    color: color(FG);
    background: color(BG-light);
    width: 600px;
    height: fit-content;
    display: flex;
    font-size: 13px;
}
.wIcons{
    cursor: pointer;
    padding: 4px 6px;
    &:hover{
        background-color: color(hover);
    }
    &.red {
        &:hover{
        background-color: color(d-red);
        }
    }
}
.wTitle{
margin: auto;
}
.wIconsWrapper{
    display: flex;
}
.wSpace{
    width: 96px;
}