.tabComponent {
    display: block;
    align-items: center;
    color: color(FG);
    background-color: color(BG-darker);
}
.path {
    padding: 0px 10px 6px;
    color: color(comment);
    background: color(BG-lighter);
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black, -8px 5px 6px -6px black, 8px 5px 6px -6px black;
    display: flex;
}
.path_text{
    margin-right: 8px;
    &:hover{
        color: color(FG);
        cursor: pointer;
    }
}
.xBttn {
   // margin: auto 0px auto 15px;
    color: color(FG);
    &.shadow {
        visibility: hidden;
        color: color(comment);
    }
}
.tab{
    background-color: transparent;
    color: color(FG);
    border: none;
    outline: none;
    font-size: 15px;
    font-family: Consolas, 'Courier New', monospace;
    cursor: pointer;

    width: fit-content;
    background: color(BG-lighter);
    border-top: 1px solid color(d-purple);
    display: flex;
    border-right: 1px solid color(BG-darker);
    &.shadow {
        background-color: color(BG-dark);
        color: color(comment);
        border-top: 1px solid transparent;

    }
    &:hover .xBttn{
        visibility: visible;
    }
}
.tabLabel{
    margin: auto;
}
.tabBar{
    //height: 41px;
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    &:hover{
        &::-webkit-scrollbar-thumb {
            background: color(hover-trns);
        }
    }
    &::-webkit-scrollbar {
        height: 6px;
    }
    &::-webkit-scrollbar-track {
        background: color(BG-light);
    }
    &::-webkit-scrollbar-thumb {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: color(hover);
    }
}
.tabBttn{
    background-color: transparent;
    color: color(FG);
    border: none;
    outline: none;
    font-size: 15px;
    font-family: Consolas, 'Courier New', monospace;
    cursor: pointer;
}
.link{
    color:color(FG);
    text-decoration: none;
    padding: 10px 10px;
}
.linkX{
    display: flex;
    margin: auto 5px auto 0px;
    &.dis{
        pointer-events: none;
    }
}

  