.window {
    position: fixed;
    top: 4vh;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 60%;
    min-width: 600px;
    max-width: 900px;
    height: 70vh;
    min-height: 330px;
    max-height: 450px;
    background-color: color(BG-light);
    border-bottom: 1px solid color(d-purple);
    display: block;
}