.window {
  height: 330px;
  min-height: fit-content;
  width: 600px;
  padding-bottom: 30px;
  background-color: #313241;
  border-bottom: 1px solid #BD93F9;
}
.wBttns{
  color: #f8f8f2;
  background: #44475A70;
  width: 600px;
  height: fit-content;
  display: flex;
  font-size: 13px;
}
.wIcons{
  height: fit-content;
  cursor: pointer;
  margin: auto 0px;
  padding: 2px 5px;
  &:hover{
    background-color: #424450;
  }
  &.red {
    &:hover{
      background-color: #ff5555;
    }
  }
}
.wTitle{
  height: fit-content;
  margin: auto;
  padding: 3px 0px;
}