.page {
    position: relative;
    width: 100%;
    //height: calc(100% - 143px);
    min-height: 223px;
   // max-height: 343px;
    overflow: auto;
    overflow-x: hidden;
    padding-top: 8px;
    &::-webkit-scrollbar {
      width: 15px;
    }
    &::-webkit-scrollbar-track {
        background: #2c2e3b;
        border-top: 0.5px solid #191A21;
        border-left: 0.5px solid #191A21;
    }
    &::-webkit-scrollbar-thumb {
        background: #42445085;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #424450;
    }
}
.line{
    display: flex;
    height: fit-content;
    min-height: 20px;
}
.n_line{
    padding: 0px 20px 0px 10px;
    width: 20px;
    text-align: end;
    //margin-right: 10px;
    
    &.moved {
       border-right: 1px solid #44475a;
    }
}
.key_text0{
    color: color(d-blue);
}
.key_text1{
    color: color(d-blue);
    padding-left: 15px;
    //border-left: 1px solid #44475a;
    white-space: nowrap;
}
.key_text2{
    color: color(d-blue);
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid #44475a;
    white-space: nowrap;
}
.key_text3{
    color: color(d-blue);
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid #44475a;
    white-space: nowrap;
}
.label_text{
    color: color(d-yellow);
    margin-left: 3px;
    height: fit-content;
    max-width: 400px;
    width: fit-content;
}
.dots {
    color: color(d-pink);
    margin-right: 5px;
    margin-left: 1px;
}
.dash{
    color:  color(d-pink);
    margin-right: 5px;
    &.moved{
        padding-left: 15px;
        border-left: 1px solid #44475a;
    }
}
